## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: dist-base-files
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13.11.6), debhelper-compat (= 13), config-package-dev, fonts-inter, fonts-terminus-otb, grub-common
Homepage: https://github.com/Kicksecure/dist-base-files
Vcs-Browser: https://github.com/Kicksecure/dist-base-files
Vcs-Git: https://github.com/Kicksecure/dist-base-files.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: dist-base-files
Architecture: all
## debian/dist-base-files.postinst uses 'chsh --shell /usr/bin/zsh'.
## chsh requires the shell already available.
Pre-Depends: zsh
Depends: sudo, dpkg-dev, helper-scripts, adduser, moreutils,
 zsh-syntax-highlighting, zsh-autosuggestions,
 ${misc:Depends}
Provides: anon-base-files,
 ${diverted-files}
Conflicts: anon-base-files,
 ${diverted-files}
Replaces: anon-base-files
Description: base files for distributions
 Grub config for more organized boot menu.
 "Normal" boot options are on top.
 "Advanced" boot options (for older kernel versions) have been moved to the
 bottom.
 .
 Creates user `user` with empty password (passwordless) (not in Qubes).
 That is if user `user` is not existing yet.
 And if it does create user `user` it also locks the root account.
 Therefore root account locking effectively only happens in new
 builds not having user `user` already created.
 .
 Ships a systemd unit file dist-skel-first-boot.service
 which runs `/usr/libexec/helper-scripts/first-boot-skel`
 (part of helper-scripts) package.
 .
 Simplifies sudo default lecture to only showing the default password once.
 .
 Creates version file `/var/lib/dist-base-files/build_version`.
 .
 Default shell: Sets default shell for user `user` to `zsh`.
 (Unless file `/etc/no-shell-change` exists.)
 `debian/dist-base-files.postinst`
 .
 Provides common files for derivative GRUB themes.
 .
 This package gets installed by default in both, Kicksecure and Whonix.
