## Copyright (C) 2012 - 2018 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-base-files
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, config-package-dev
Homepage: https://github.com/Whonix/anon-base-files
Vcs-Browser: https://github.com/Whonix/anon-base-files
Vcs-Git: https://github.com/Whonix/anon-base-files.git
Standards-Version: 3.9.8

Package: anon-base-files
Architecture: all
Depends: sudo, dpkg-dev, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: base files for Anonymity Distributions
 Anonymized operating system user name "user", /etc/hostname, /etc/hosts,
 /var/lib/dbus/machine-id, which should be shared among all anonymity
 distributions. See also:
  * https://mailman.boum.org/pipermail/tails-dev/2013-January/002457.html
  * https://labs.riseup.net/code/issues/5655
  * http://lists.autistici.org/message/20140627.215105.24023267.en.html
 .
 Adds user "user" to the group "debian-tor", so user "user" can access Tor's
 control port.
 .
 Provides /usr/lib/pre.bsh which if available, gets sourced by other
 maintainer scripts. pre.bash implements an improved error log. Implements
 trap ERR if function errorhandlergeneral does not exist. Runs silent by
 default. Write xtrace to temporary log. Show full xtrace on unexpected
 non-zero exit code. Shows exit code on unexpected non-zero exit code.
 Enables xtrace (-x) for maintainer script when DEBDEBUG environment variable
 is set to 1. Provides SKIP_SCRIPTS environment variable to skip scripts by
 name. Provides provide color function.
